name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to dockerhub
      uses: docker/login-action@v3
      with:
       username: ${{ secrets.DOCKERHUB_USERNAME }}
       password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Set Calver Tag
      id: calver
      run: echo "CALVER=$(date +'%Y.%m.%d')" >> $GITHUB_ENV

    - name: Build and push to dockerhub
      uses: docker/build-push-action@v5
      with:
       push: true
       platforms: linux/arm64
       tags: |
          mcfurry/doly-ros-rolling:latest
          mcfurry/doly-ros-rolling:${{ env.CALVER }}